# Tool Path Configuration

run-java() { java "$@"; }
run-d8() { run-java -cp 'build/tools/r8/*' 'com.android.tools.r8.D8' "$@"; }
run-dex2jar() { run-java -cp 'build/tools/dex2jar/*' 'com.googlecode.dex2jar.tools.Dex2jarCmd' "$@"; }

run-dexpatcher() { run-java -jar ../tool/build/libs/dexpatcher-[0-9]*.jar "$@"; }

run-sha1sum() { sha1sum "$@"; }
run-cmp() { cmp "$@"; }
